 .header {
     background-color: var(--cor-header);
     display: flex;
     height: 8vw;
 }

 .container {
     display: flex;
 }

 /* LOGO */
 .container__logo {
     margin: 1em 0;
 }

 .container__logo-nfl {
     border-left: 1px solid var(--cinza);
     padding-left: 1em;
 }

 .container__logo-nba {
     padding-right: 1em;
 }

 /* Links do menu */
.dropdown{
    position: relative;
    display: inline;
    align-self: center;
    padding-left: 8em;
}
.dropbtn{
    background-color: var(--cor-header);
    color: var(--cinza);
    font-family: "Poppins";
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

.dropdown:hover .dropdown-content{
    display: block;
}
  
.lista-menu__dropdown{
     display: flex;
     background-color: var(--branco);
     width: 60vw;
     padding: 2em 1em;
 } 

 .lista-menu__link {
     text-decoration: none;
     color: black;
     padding: 0em 1em;  

 }
 .lista-menu__link:hover{
    color: var(--vermelho-hover);
 }

.lista-menu__item{
    display: flex;
    align-items: center; 
    margin: 0.6em 0;
    /* padding:0.5em;   */
    flex-wrap: nowrap;
    padding-left: 0;
 } 

 .logo__item{
    height: 1.5vw;
    padding-right: 0em;
 }

 .lista_southeast,
 .lista_central,
 .lista_atlantic{
    margin: auto 2em;

 }