@import url("header.css");

:root{
    --cor-de-fundo: #EBECEE;
    --fonte-principal:"Poppins";
    --cor-header:#000000;
    --cinza: #C1C9CA;
    --branco:#FFFFFF;
}

body{
    background-color: var(--cor-de-fundo);
    font-family:var(--fonte-principal) ;
    font-size: 16px;
    font-weight: 400;
}


